dbt_learning:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: YOUR_ACCOUNT_LOCATOR
      user: YOUR_USERNAME
      password: YOUR_PASSWORD
      role: YOUR_ROLE
      warehouse: YOUR_WAREHOUSE
      database: YOUR_DATABASE
      schema: YOURNAME_DBT_SANDBOX
      threads: 4
      client_session_keep_alive: false
